/*内容*/
.coent{
	margin-top: 50px;
	width: 1000px;
	height: 517px;
	margin: auto;
}
.coent_left{
	width: 616px;
	height: 458px;
	float: left;
}
.youhui_left{
	width: 309px;
	height: 395px;	
	float: left;
	margin-left: 5px;
}
.youhui_left ul {
	width: 300px;
	height: auto;
}
.youhui_left ul li{
	font-size: 13px;
	list-style: url(../img/ico_cx.gif);
	margin-left: 20px;
	line-height: 35px;
	border-bottom: 1px dashed gray;
	
}
.gd a{
	color: red;
}
.youhui_left p{
	margin-top: 10px;
}
.youhui_left a{
	font-size: 13px;
}
.youhui_left a:hover{
	color: red;
}
.youhui_left ul li a:hover{
	color: red;
}
/*图片动态效果*/
.box{
	width: 308px;
	height: 208px;
	border: 1px solid gray;
	padding: 4px;
	overflow: hidden;
	position: relative;
}
.min_box{
	width: 308px;
	height: 614px;
	position: absolute;
	top: 4px;
	transition: 1s;
}
.min_box img{
	margin-bottom: 5px;
}
/*优惠活动左边结束*/
.youhui_right{
	width: 271px;
	height: 395px;
	float: right;
}
.youhui_right_wy{
	width: 271px;
	height: 208px;
	list-style: none;
}
.youhui_right_wy li a{
	font-size: 13px;
}
.youhui_right_wy li:nth-child(1){
	width: 225px;
	height: 57px;
	background-image: url(../img/ico_bg1.gif);
	padding-top: 10px;
    padding-left: 45px;
}
.youhui_right_wy li:nth-child(1):hover{
	background-position-y: -65px;
}
.youhui_right_wy li:nth-child(1):hover a{
	color: red;
}
.youhui_right_wy li:nth-child(2){
	width: 225px;
	height: 57px;
	background-image: url(../img/ico_bg2.gif);
	padding-top: 10px;
    padding-left: 45px;
}
.youhui_right_wy li:nth-child(2):hover{
	background-position-y: -65px;
}
.youhui_right_wy li:nth-child(2):hover a{
	color: red;
}
.youhui_right_wy li:nth-child(3){
	width: 225px;
	height: 55px;
	background-image: url(../img/ico_bg3.gif);
	padding-top: 10px;
    padding-left: 45px;
}
.youhui_right_wy li:nth-child(3):hover{
	background-position-y: -65px;
}
.youhui_right_wy li:nth-child(3):hover a{
	color: red;
}
.youhui_right p{
	margin-top: 18px;
}
.youhui_right a{
	font-size: 13px;
}
.youhui_right a:hover{
	color: red;
}
.youhui_right ul li a:hover{
	color: red;
}
.youhui_right_xinwen li{
	font-size: 13px;
	list-style: url(../img/ico_cx.gif);
	margin-left: 20px;
	line-height: 35px;
	border-bottom: 1px dashed gray;
}
.coent_right{
	width: 350px;
	height: 300px;
	background-color: yellow;
	float: right;
}
/*conent结束*/
.js{
	width: 1000px;
	height: 416px;
	margin:auto;
	margin-top: 10px;
}

.js>ul>li{
	width: 240px;
	height: 326px;
	float: left;
	margin: 0 5px;
	list-style: none;
}
.js>ul>li:nth-child(1){
background: url(../img/jianshang_1.jpg) no-repeat;
	height: 326px;
}
.js>ul>li:nth-child(2){
background: url(../img/js2.jpg) no-repeat;
	height: 326px;
}
.js>ul>li:nth-child(3){
background: url(../img/js3.JPG) no-repeat;
	height: 326px;
}
.js>ul>li:nth-child(4){
background: url(../img/js_4.JPG) no-repeat;
	height: 326px;
}
.js>ul>li>div{
	width: 240px;
	height:326px;
	background: rgba(0,0,0,0.5);
	display: none;
	list-style: none;
	top: 0;
	left: 0;
}
.text{
	position: absolute;
	bottom: 0;
	left:5px;
}
.js>ul>li{
	position: relative;
}
.text li:nth-child(1){
	color:white;
	font-size: 30px;
	list-style: none;
}
.text li:nth-child(2){
	border-bottom: 1px solid gray;
	color:gray;
	list-style: none;
}
.text li:nth-child(3){
	color:red;
	list-style: none;
	
}
.text li:nth-child(4){
	border-bottom: 1px solid gray;
	color:white;
	list-style: none;
}
.js>ul>li:hover div{
	width: 240px;
	height: 326px;
	display: block;
	list-style: none;
}
